body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232533;
    overflow-x: hidden;
    height: 100vh;
    font-family: sans-serif;
}

input{
    text-decoration: none;

}

.slider{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
    margin-bottom: 100px;
}
.cards {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 30px;
    perspective: 1000px;
    transform-style:preserve-3d;
}
label{
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: 0.55s ease;
}
.card{
    position: relative;
    height: 100%;
    background-color: #304457;
    border-radius: 10px;
    padding: 30px 35px;
}
.image{
    display: flex;
    justify-content: space-between;
}

.image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width: 86%;
    height: 220px;
    object-fit: cover;
    transition: all .7s;
}
.image img:hover{
    transform: scale(1.05);

}
#s1:checked-.card #slide4,
#s2:checked-.card #slide5,
#s3:checked-.card #slide1,
#s1:checked-.card #slide2,
#s5:checked-.card #slide3{
    box-shadow: 0 15px 30px rgba(0,0,0,45%);
    transform: translate3d(-70%,0,-220px);
    --current-color1:#eceaed;
    --current-color2:#404457;
}

#s1:checked-.cards #slide5,
#s2:checked-.cards #slide1,
#s3:checked-.cards #slide2,
#s1:checked-.cards #slide3,
#s5:checked-.cards #slide4{
    box-shadow: 0 20px 30px rgba(0,0,0,45%);
    transform: translate3d(-35%,0,-120px);
    --current-color1:#eceaed;
    --current-color2:#404457;
}

#s1:checked-.cards #slide1,
#s2:checked-.cards #slide2,
#s3:checked-.cards #slide3,
#s1:checked-.cards #slide4,
#s5:checked-.cards #slide5{
    box-shadow: 0 25px 50px rgba(0,0,0,50%);
    transform: translate3d(0,0,0);
    --current-color1:#fad00c;
    --current-color2:#eccead;
}
#s1:checked-.cards #slide2,
#s2:checked-.cards #slide3,
#s3:checked-.cards #slide4,
#s1:checked-.cards #slide5,
#s5:checked-.cards #slide1{
    box-shadow: 0 20px 40px rgba(0,0,0,45%);
    transform: translate3d(-35%,0,-120);
    --current-color1:#fad00c;
    --current-color2:#eccead;
}

#s1:checked-.cards #slide3,
#s2:checked-.cards #slide4,
#s3:checked-.cards #slide5,
#s1:checked-.cards #slide1,
#s5:checked-.cards #slide2{
    box-shadow: 0 15px 30px rgba(0,0,0,40%);
    transform: translate3d(-70%,0,-220);
    --current-color1:#fad00c;
    --current-color2:#eccead;
} 

